{% block content %}

    <div class="topbar">
        <div class="topbar-logo">
            <h1 style="color: black; position: relative; left: 180%">9-"В"</h1>
            <img style="left: 50%; border: 2px solid black; opacity: 100; height: 100px; width: 100px; position: relative;" src="C:/Users/Shohijahon/Downloads/icon_9.png" alt="Profile Picture">
        </div>
        <div class="topbar-menu">

        </div>
    </div>

    <div id="sidebar" class="sidebar">
        <div class="sidebar-content">
            <a href="#">Ссылка 1</a>
            <a href="#">Ссылка 2</a>
            <a href="#">Ссылка 3</a>
            <a href="#">Ссылка 4</a>
            <span class="close-btn" onclick="closeSidebar()">&times;</span>
        </div>
    </div>
{% endblock %}